<body id="body">
  <div class="container">
    <h2 class="p-title-blue text-center pt-4 pb-4">
      About Cassa Medical Clinic
    </h2>
    <div class="row pb-4">
      <div class="col-md-12 text-center">
        <img src="../../assets/images/about-us.jpg" class="about-us-img" />
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <div class="about-us-section pt-4">
          <p class="p-des">
            {{ website?.aboutus || "Loading About Us..." }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row pb-4 pt-4">
      <h2 class="p-title-blue text-center">Testimonials</h2>
      <div class="splide" id="testimonial-slider">
        <div class="splide__track p-4">
          <div class="splide__list">
            <div class="splide__slide shadow-custom">
              <div class="card testimonial-card h-100">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="d-flex flex-row align-items-center">
                        <img
                          src="../../assets/images/t1.jpg"
                          class=""
                          alt="..."
                        />
                        <p class="ps-2 testimonial-card-name">Samantha</p>
                      </div>
                      <hr class="mt-2" />
                      <i
                        class="fa-solid fa-quote-left pb-1"
                        style="color: #cacaca"
                      ></i>
                      <p class="testimonial-card-text">
                        "I’ve tried IV drips at a few clinics before, but the
                        service at Cassa Medical Clinic is on another level. The
                        staff are professional, friendly, and make you feel
                        completely at ease. I left feeling refreshed, energized,
                        and ready to take on Bali!"
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="splide__slide shadow-custom">
              <div class="card testimonial-card h-100">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="d-flex flex-row align-items-center">
                        <img
                          src="../../assets/images/t2.jpg"
                          class=""
                          alt="..."
                        />
                        <p class="ps-2 testimonial-card-name">Emi</p>
                      </div>
                      <hr class="mt-2" />
                      <i
                        class="fa-solid fa-quote-left pb-1"
                        style="color: #cacaca"
                      ></i>
                      <p class="testimonial-card-text">
                        "I was a bit nervous about getting an IV drip, but the
                        staff at Cassa Medical Clinic were incredibly reassuring
                        and skilled. The hydration and vitamin therapy worked
                        wonders—I felt a noticeable boost in energy and overall
                        wellbeing."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="splide__slide shadow-custom">
              <div class="card testimonial-card h-100">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="d-flex flex-row align-items-center">
                        <img
                          src="../../assets/images/t3.jpg"
                          class=""
                          alt="..."
                        />
                        <p class="ps-2 testimonial-card-name">James</p>
                      </div>
                      <hr class="mt-2" />
                      <i
                        class="fa-solid fa-quote-left pb-1"
                        style="color: #cacaca"
                      ></i>
                      <p class="testimonial-card-text">
                        "Cassa Medical Clinic’s IV drip treatment helped me
                        recover from jet lag faster than I expected. The
                        environment is clean and welcoming, and the team
                        explained everything thoroughly. I will definitely come
                        back during my next trip to Bali."
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="splide__slide shadow-custom">
              <div class="card testimonial-card h-100">
                <div class="card-body p-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="d-flex flex-row align-items-center">
                        <img
                          src="../../assets/images/std-testing.jpg"
                          class=""
                          alt="..."
                        />
                        <p class="ps-2 testimonial-card-name">Lorem Ipsum</p>
                      </div>
                      <hr class="mt-2" />
                      <i
                        class="fa-solid fa-quote-left pb-1"
                        style="color: #cacaca"
                      ></i>
                      <p class="testimonial-card-text">
                        Some quick example text to build on the card title and
                        make up the bulk of the card’s content. Some quick
                        example text to build on the card title and make up the
                        bulk of the card’s content.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
