<body id="body">
    <div class="container">
        <div class="row p-4">
            <div class="col-12">
                <h2 class="text-center p-title-blue pt-2 pb-4">Lab Test Package Selection</h2>
            </div>

            <!-- <div class="col-md-1"></div> -->

            <div class="col-md-12 col-12 d-flex justify-content-center align-items-center text-center">
                <img src="../../assets/images/lab-test.jpg" class="service-img">
            </div>

            <!-- <div class="col-md-7 col-12 d-flex align-items-center">
                <div class="row pt-4">
                    <div class="col-md-12">
                        <p class="p-des">
                            At Cassa Medical Clinic, we make laboratory testing simple, fast, and stress-free — perfect for travelers and residents alike. Whether you need a quick check-up, blood work, or screening before your next flight, our friendly medical team is here to help.
                        </p>
                        <ul>
                            <li class="p-des">Blood test</li>
                            <li class="p-des">Infection and inflammation markers</li>
                            <li class="p-des">Urine and stool analysis</li>
                            <li class="p-des">General health screenings</li>
                        </ul>
                        <p class="p-des">
                            We understand that time matters when you’re on the move. That’s why we prioritize accuracy and efficiency, with same-day or next-day results available for most tests. Stay healthy and confident during your time in Bali — Cassa Medical Clinic is your trusted partner for professional laboratory testing and care.
                        </p>
                    </div>
                </div>

            </div> -->
        </div>

        <div class="container pb-4">
            <!-- <h4 class="text-center p-title-blue pt-2 pb-4">Package Selection</h4> -->
            <div class="row g-4 justify-content-center">

                <div class="col-md-6 d-flex justify-content-end">
                    <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">BALI BELLY PACKAGE TEST</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">800.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">Stool test</li>
                                    <li class="pb-1">CBC (Complete Blood Count)</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage1()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-start">
                      <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">DENGUE DIAGNOSTIC TEST</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">1.250.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">NS-1</li>
                                    <li class="pb-1">CBC (Complete Blood Count)</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage2()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-end">
                    <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">DENGUE MONITORING TEST</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">1.250.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">CBC (Complete Blood Count)</li>
                                    <li class="pb-1">Electrolytes (Natrium, Potassium, Chloride)</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage3()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-start">
                      <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">THYPOID DIAGNOSTIC TEST</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">1.150.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">CBC (Complete Blood Count)</li>
                                    <li class="pb-1">Salmonella IgM</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage4()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-end">
                    <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">ANEMIA LAB TEST PACKAGE</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">2.850.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">CBC (Complete Blood Count)</li>
                                    <li class="pb-1">Ferritin</li>
                                    <li class="pb-1">Serum Iron</li>
                                    <li class="pb-1">TIBC</li>
                                    <li class="pb-1">Transferrin</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage5()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-start">
                      <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">GLUCOSE PACKAGE</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">880.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">HbA1C</li>
                                    <li class="pb-1">Random Blood Sugar Test</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage6()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-end">
                    <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">MCU Essential</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">2.150.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">CBC (Complete Blood Count)</li>
                                    <li class="pb-1">AST</li>
                                    <li class="pb-1">ALT</li>
                                    <li class="pb-1">Gamma GT</li>
                                    <li class="pb-1">Ureum</li>
                                    <li class="pb-1">Creatinine</li>
                                    <li class="pb-1">E-GFR</li>
                                    <li class="pb-1">Uric Acid</li>
                                    <li class="pb-1">HbA1C</li>
                                    <li class="pb-1">Blood Sugar Random</li>
                                    <li class="pb-1">Total Cholesterol</li>
                                    <li class="pb-1">Trigliseride</li>
                                    <li class="pb-1">HDL Cholesterol</li>
                                    <li class="pb-1">LDL Cholesterol</li>
                                    <li class="pb-1">Urinalysis</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage7()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-start">
                      <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">MCU Complete</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">2.850.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">CBC (Complete Blood Count)</li>
                                    <li class="pb-1">AST</li>
                                    <li class="pb-1">ALT</li>
                                    <li class="pb-1">Gamma GT</li>
                                    <li class="pb-1">Ureum</li>
                                    <li class="pb-1">Creatinine</li>
                                    <li class="pb-1">E-GFR</li>
                                    <li class="pb-1">Uric Acid</li>
                                    <li class="pb-1">HbA1C</li>
                                    <li class="pb-1">Blood Sugar Random</li>
                                    <li class="pb-1">Total Cholesterol</li>
                                    <li class="pb-1">Trigliseride</li>
                                    <li class="pb-1">HDL Cholesterol</li>
                                    <li class="pb-1">LDL Cholesterol</li>
                                    <li class="pb-1">Urinalysis</li>
                                    <li class="pb-1">Vit D level</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage8()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-end">
                    <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">LIPID PROFILE PACKAGE</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">765.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">Total Cholesterol</li>
                                    <li class="pb-1">Trigliseride</li>
                                    <li class="pb-1">HDL Cholesterol</li>
                                    <li class="pb-1">LDL Cholesterol</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage9()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-start">
                      <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">KIDNEY URINE PROFILE</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">550.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">Ureum</li>
                                    <li class="pb-1">Creatinine</li>
                                    <li class="pb-1">Uric Acid</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage10()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-end">
                    <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">LIVER PROFILE PACKAGE</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">1.650.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">AST</li>
                                    <li class="pb-1">ALT</li>
                                    <li class="pb-1">Gamma GT</li>
                                    <li class="pb-1">ALP</li>
                                    <li class="pb-1">Billirubin</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage11()">Book Now</a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>


    </div>
</body>

<button class="floating-whatsapp-btn" aria-label="Chat via WhatsApp" (click)="sendWhatsappMessage()">
  <i class="fab fa-whatsapp"></i>
</button>