<body id="body">
    <div class="container">
        <div class="row p-4">
            <div class="col-12">
                <h2 class="text-center p-title-blue pt-2 pb-4">Doctor Consultation</h2>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-3 col-12 d-flex justify-content-center align-items-center text-center">
                <img src="../../assets/images/doctor-consultation.jpg" class="service-img">
            </div>

            <div class="col-md-7 col-12 d-flex align-items-center">
                <div class="row">
                    <div class="col-md-12">
                        <p class="p-des p-4">
                            Our licensed doctors and nurses provides professional, fast, and reliable treatment for Bali Belly, food poisoning, fever, infections, dehydration, wound care, ear problems, STDs, and more — available in-clinic or at your location for your comfort and convenience. Scheduled your visit today.     
                        </p>
                    </div>
                    <div class="col-md-12 text-center">
                        <a routerLink="/" class="btn btn-package-green w-75" (click)="sendWhatsappMessage()">Book Now</a>
                    </div>
                </div>
               
            </div>
        </div>


    </div>
</body>

<button class="floating-whatsapp-btn" aria-label="Chat via WhatsApp" (click)="sendWhatsappMessage()">
  <i class="fab fa-whatsapp"></i>
</button>