<body id="body">
    <div class="container">
        <div class="row p-4">
            <div class="col-12">
                <h1 class="text-center p-title-blue pt-2 pb-4">STD Testing</h1>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-3 col-12 d-flex justify-content-center align-items-center text-center">
                <img src="../../assets/images/std-testing.jpg" class="service-img">
            </div>

            <div class="col-md-7 col-12 d-flex align-items-center">
                <div class="row">
                    <div class="col-md-12">
                        <p class="p-des p-4">
                            At Cassa Medical Clinic, we provide confidential and professional STD testing in a safe and private environment. Our licensed doctors and registered nurses ensure every step of the process is handled with care and respect. 
Whether you’re a resident or a traveler in Bali, we make it easy to take charge of your sexual health — without judgment or stress.

                        </p>
                    </div>
                    <div class="col-md-12 text-center">
                        <a routerLink="/" class="btn btn-carousel w-75" (click)="sendWhatsappMessage()">Book Now</a>
                    </div>
                </div>
               
            </div>
        </div>


    </div>
</body>
