<body id="body">
    <div class="container">
        <div class="row p-4">
            <div class="col-12">
                <h1 class="text-center p-title-blue pt-2 pb-4">STD Testing</h1>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-3 col-12 d-flex justify-content-center align-items-center text-center">
                <img src="../../assets/images/std-testing.jpg" class="service-img">
            </div>

            <div class="col-md-7 col-12 d-flex align-items-center">
                <div class="row">
                    <div class="col-md-12">
                        <p class="p-des p-4">
                            At Cassa Medical Clinic, we provide confidential and professional STD testing in a safe and private environment. Our licensed doctors and registered nurses ensure every step of the process is handled with care and respect. 
Whether you’re a resident or a traveler in Bali, we make it easy to take charge of your sexual health — without judgment or stress.

                        </p>
                    </div>
                </div>
               
            </div>
        </div>


    </div>

    <div class="container pb-4 pt-4">
            <h4 class="text-center p-title-blue pt-2 pb-4">Package Selection</h4>
            <div class="row g-4">
                <div class="col-md-6 d-flex justify-content-end">
                    <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">Basic Urine PCR</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">2.200.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">Gonorrhea</li>
                                    <li class="pb-1">Chlamydia</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage1()">Book Now</a>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-start">
                      <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">Primary Blood STD</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">1.350.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">HIV</li>
                                    <li class="pb-1">Syphilis ( VDRL & TPHA)</li>
                                    <li class="pb-1">Hepatitis B</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage2()">Book Now</a>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-end">
                      <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">Essential Urine PCR</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">2.800.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">Gonorrhea</li>
                                    <li class="pb-1">Chlamydia</li>
                                    <li class="pb-1">Ureaplasma Urealyticum</li>
                                    <li class="pb-1">Mycoplasma Hominis</li>
                                    <li class="pb-1">Mycoplasma Genitalium</li>
                                    <li class="pb-1">Trichomonas Vaginalis</li>
                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage3()">Book Now</a>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="col-md-6 d-flex justify-content-start">
                      <div class="card h-100 w-100 package-card p-3">
                        <div class="package-card-section">
                            <div class="card-header package-card-header">
                                <h5 class="package-title text-center pt-2 pb-0">Complete STD</h5>
                            </div>
                            <div class="card-body">
                               <p class="package-price text-center">3.850.000 IDR</p>
                               <ul class="list-ul">
                                    <li class="pb-1">Gonorrhea</li>
                                    <li class="pb-1">Chlamydia</li>
                                    <li class="pb-1">Ureaplasma Urealyticum</li>
                                    <li class="pb-1">Mycoplasma Hominis</li>
                                    <li class="pb-1">Mycoplasma Genitalium</li>
                                    <li class="pb-1">Trichomonas Vaginalis</li>
                                    <li class="pb-1">HIV</li>
                                    <li class="pb-1">VDRL</li>
                                    <li class="pb-1">TPHA</li>
                                    <li class="pb-1">Hepatitis B</li>

                               </ul>
                            </div>
                            <div class="card-footer package-card-footer text-center">
                                <a class="btn btn-package w-75" (click)="sendWhatsappMessage4()">Book Now</a>
                            </div>
                        </div>
                       
                    </div>
                </div>

            </div>
        </div>

</body>
