<body id="body">
    <div class="container">
        <div class="row p-4">
            <div class="col-12">
                <h1 class="text-center p-title-blue pt-2 pb-4">Laboratory Testing</h1>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-4 col-12 d-flex justify-content-center align-items-center text-center">
                <img src="../../assets/images/on-call-service.jpg" class="service-img">
            </div>

            <div class="col-md-7 col-12 d-flex align-items-center">
                <div class="row pt-4">
                    <div class="col-md-12">
                        <p class="p-des">
                            At Cassa Medical Clinic, we make laboratory testing simple, fast, and stress-free — perfect for travelers and residents alike. Whether you need a quick check-up, blood work, or screening before your next flight, our friendly medical team is here to help.
                        </p>
                        <ul>
                            <li class="p-des">Blood test</li>
                            <li class="p-des">Infection and inflammation markers</li>
                            <li class="p-des">Urine and stool analysis</li>
                            <li class="p-des">General health screenings</li>
                        </ul>
                        <p class="p-des">
                            We understand that time matters when you’re on the move. That’s why we prioritize accuracy and efficiency, with same-day or next-day results available for most tests. Stay healthy and confident during your time in Bali — Cassa Medical Clinic is your trusted partner for professional laboratory testing and care.
                        </p>
                    </div>
                    <div class="col-md-12 text-center">
                        <a routerLink="/" class="btn btn-package-green w-75" (click)="sendWhatsappMessage()">Book Now</a>
                    </div>
                </div>
               
            </div>
        </div>


    </div>
</body>
