<body id="body">
    <div class="container">
        <div class="row p-4">
            <div class="col-12">
                <h1 class="text-center p-title-blue pt-2 pb-4">Wound Treatment</h1>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-4 col-12 d-flex justify-content-center align-items-center text-center">
                <img src="../../assets/images/wound-treatment.jpg" class="service-img">
            </div>

            <div class="col-md-7 col-12 d-flex align-items-center">
                <div class="row pt-4">
                    <div class="col-md-12">
                        <p class="p-des">
                            Accidents can happen anytime — from a scooter slip to a small kitchen cut. At Cassa Medical Clinic, we provide prompt and professional wound care to help you recover safely and comfortably.
                        </p>
                        <ul>
                            <li class="p-des">Minor cuts and injury care</li>
                            <li class="p-des">Wound cleaning and dressing</li>
                            <li class="p-des">Stitches and sutures</li>
                            <li class="p-des">Burn treatment</li>
                            <li class="p-des">Infection care and management</li>
                        </ul>
                        <p class="p-des">
                            Whether you’re a resident or traveler in Bali, our caring doctors and nurses ensure your wound is treated properly to prevent complications and speed up healing.
                        </p>
                    </div>
                    <div class="col-md-12 text-center">
                        <a routerLink="/" class="btn btn-package-green w-75" (click)="sendWhatsappMessage()">Book Now</a>
                    </div>
                </div>
               
            </div>
        </div>


    </div>
</body>

<button class="floating-whatsapp-btn" aria-label="Chat via WhatsApp" (click)="sendWhatsappMessage()">
  <i class="fab fa-whatsapp"></i>
</button>